<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.Net.Sockets" maxdatasize="1024">
        <listeners>
          <add name="SocketTrace"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="SocketTrace"
           type="System.Diagnostics.TextWriterTraceListener"
           initializeData="System.Net.Trace.log" />
    </sharedListeners>
    <switches>
      <add name="System.Net.Sockets" value="Verbose" />
    </switches>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
